{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
        <img src="{{article.thumb.url}}"/>
        <h2> {{article.title}}</h2>
          <p>{{article.body}} </p>
          <p>{{article.date}} </p>   
          <h2>Author:</h2>
          <p>{{author}}</p>
          <br>
          <br>
          <b>Comments</b>
          {% for comment in comments %}

           <p> {{comment.body}} </p>
           <p>Written by:</p>
           <p> {{comment.author}} </p>
           <br>
          {% endfor %}
          <nav>   
              <ul>
                  <li>
                    <div class="create-article_comment">
                        <h2>Write a comment</h2>
                        <form class="site-form" action="{% url 'articles:comment' slug=article.slug %}" method="post">
                            {% csrf_token %}
                            {{comment_form}}
                            <input type="submit" value="Send">
                        </form>
                    </div> 
                  </li>
                  <li>
                    <a href="{% url 'articles:modify' slug=article.slug %}">Modify article</a>
                </li>
                </ul>
            </nav>
    </div>
</div>
{% endblock %}