{% extends 'base_layout.html' %}

{% block content %}

        <h1> Profile Page </h1>
        <div>  
            <h2>Name:</h2>
            <p>{{user.username}}</p>
            <h2>logged in last time:</h2>
            <p>{{user.last_login}}</p>
            {% if profile != None %}
            <img src="{{profile.profile_pic.url}}"/>
            <h2>Description:</h2>
            <p>{{profile.description}}</p>
            <h2>Full name:</h2>
            <p>{{profile.name}}</p>
            <h3><li><a href="{% url 'accounts:update-profile' %}">Update profile</a></li></h3>
            {% endif %}           
        </div>
        

{% endblock %} 